body{

    background: linear-gradient(135deg,#198754,#20c997);

    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

}

.card{

    width:650px;

    border:none;

    border-radius:18px;

}

.card-header{

    background:linear-gradient(90deg,#198754,#0d6efd);

}

select{

    font-size:18px;

}